<h1 class="text-center my-0"><b>Education</b></h1>
<div class="row" [style.max-width.px]="790">
  <div class="col-sm-6 p-3 box" (click)="openES()">
    <mat-icon>school</mat-icon> <br>
    <div class="text-center">
      <h2 class="m-0">Elementary School</h2>
      <p>2003 - 2009</p>
    </div>
  </div>
  <div class="col-sm-6 p-3 box" (click)="openJHS()">
    <mat-icon>school</mat-icon> <br>
    <div class="text-center">
      <h2 class="m-0">Junior Highschool</h2>
      <p>2009 - 2012</p>
    </div>
  </div>
</div>
<div class="row" [style.max-width.px]="790">
  <div class="col-sm-6 p-3 box" (click)="openSHS()">
    <mat-icon>school</mat-icon> <br>
    <div class="text-center">
      <h2 class="m-0">Senior Highschool</h2>
      <p>2012 - 2014</p>
    </div>
  </div>
  <div class="col-sm-6 p-3 box" (click)="openUniv()">
    <mat-icon>school</mat-icon> <br>
    <div class="text-center">
      <h2 class="m-0">University (S1)</h2>
      <p>2015 - 2019</p>
    </div>
  </div>
</div>
