<h1 class="text-center"><b>Language's Knowledge</b></h1>
<div class="row text-center" [style.max-width.px]="790">
  <div class="col-sm-3 my-2">
    <h3>HTML</h3>
    <img src="assets/image/icons/html.png" alt="html-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>CSS</h3>
    <img src="assets/image/icons/css.png" alt="css-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>SASS</h3>
    <img src="assets/image/icons/sass.png" alt="sass-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>BOOTSTRAP</h3>
    <img src="assets/image/icons/bootstrap.png" alt="bootstrap-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
</div> <br>
<div class="row text-center" [style.max-width.px]="790">
  <div class="col-sm-3 my-2">
    <h3>JAVASCRIPT</h3>
    <img src="assets/image/icons/javascript.png" alt="javascript-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>ANGULAR2</h3>
    <img src="assets/image/icons/angular.svg" alt="angular-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>NODEJS</h3>
    <img src="assets/image/icons/nodejs.png" alt="nodejs-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
  <div class="col-sm-3 my-2">
    <h3>MONGODB</h3>
    <img src="assets/image/icons/mongodb.png" alt="mongodb-icon" class="img-fluid" [style.max-height.px]="'100'">
  </div>
</div>
