<h1 class="text-center"><b>Portofolio</b></h1>
<div class="row p-1 m-auto" [style.max-width.px]="450">
  <div class="col p-3">
    <div class="card" matTooltip="click to visit website">
      <div class="card-body">
        <img src="assets/image/swargaflowertea-site.png" alt="swargaflowertea" class="img-fluid mb-3">
        <a href="http://www.swargaflowertea.com/" target="_blank" rel="noopener noreferrer">
          <button mat-stroked-button class="w-100">Visit</button>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="col p-3">
    <div class="card" matTooltip="click to visit website">
      <div class="card-body">
        <img src="assets/image/swargaflowertea-site.png" alt="swargaflowertea" class="img-fluid mb-3">
        <a href="http://www.swargaflowertea.com/" target="_blank" rel="noopener noreferrer">
          <button mat-stroked-button class="w-100">Visit</button>
        </a>
      </div>
    </div>
  </div> -->
</div>
