<h1><b>More about me</b></h1>
<table class="table table-responsive">
  <tbody>
    <tr>
      <td>Full Name</td>
      <td>Krisna Rusdiono</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>January 12, 1996</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>Jl. Pasir Impun Barat. RT.001 RW.009 Kel. Karang Pamulang Kec. Mandalajati. Bandung.</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>Height and  Weight</td>
      <td>162 <sup>cm</sup> and 60 <sup>kg</sup></td>
    </tr>
    <tr>
      <td>Contact Number</td>
      <td>0821 1691 7200</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>krisnarusdiono@gmail.com</td>
    </tr>
    <tr>
      <td>Interest & Hobbies</td>
      <td>Games, Reading, Coding, Do Usefull things</td>
    </tr>
    <tr>
      <td>Marital Status</td>
      <td>Single</td>
    </tr>
    <tr>
      <td>Social Media</td>
      <td>@krisnarusdiono (IG, in, FB, YT, GH)</td>
    </tr>
  </tbody>
</table>
